.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

/* 
background-color: rgba(0, 0, 0, 0.5); 0.5 - прозорість

opacity: 0; - не прозорість (1-повністю непрозорий, 0-прозорий) впливає ще й на контент (наприклад напів прозорий текст стоїть)
тобто підкладка модалки є повністю прозора, але фоновий колір це 0.5 (50%) затемнення

visibility: hidden; - ховає елемент, але залишає місце на сторінці для нього
display: none; - ховає елемент і забирає місце яке він займає
Але у даному випадку у нас є position: fixed; - тому visibility:hidden i display:none будуть однаково працювати
Але на відміну display, visibility може бути анімоване. (Animatable CSS properties (MDN)-тут можна перевірити які властивості є анімовані )

transform: scale(1.1); - робить більшим на 10%.

transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; - якраз питання анімації
transition - перехід між елементами.
visibility 0s linear 0.25s - visibility змінюється від 0s до 0.25s лінійно - час за який буде змінюватися властивість
opacity 0.25s 0s - час за який буде змінюватися властивість
transform 0.25s - час за який буде змінюватися властивість
*/


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

/* 
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); - цим вікноз текстом і іншим роблять у центрі.
    position: absolute; top: 50%; left: 50% - У цього вікна верхня точка буде половина вікна екрана,
    і ліва також половина екрана. Тобто вікнозміщене вниз і в бік.
    і щоб поставити його по центру ми пишемо - transform: translate(-50%, -50%); - тобто сунемо його у верх і у низ
    на 50% відносно ширини цього вікна. Тут можна внести display:flex.
*/

.close-button {
    /* float: right; */
    margin-left: auto;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
/* 
Вмкористали  float це погана практика, може впливати на інші елементи
цю кнопку можна позиціонувати за допомогою position

щоб змінити float - span, ширина в нього є, робимо блочний і margin-left: auto,
але краще щоб не робити зайвий рядочок в css - span робимо div


*/

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* 
transform: scale(1.0); - зазвичай роблять 0, а потім 1.0 і вікно збільшується
*/